/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom CSS below */

@font-face {
    font-family: kiona-regular;
    src: url(./resources/Kiona-Regular.ttf);
}

:root {
	font-family: kiona-regular, 'Poopins', sans-serif;
}

body {
    display: flex;
	flex-flow: row wrap;
	font-size: 1.6rem;
	font-weight: 500;
	color: rgb(185, 185, 185);
	width: 100vw;
	height: 100vh;
}

#left-side {
	flex: 0.5;
	background: url(./resources/matou_sakura.png);
	background-position: 50% 0%;
	width: 40vw;
	transition: 1s;
}

#source {
	font-size: 0.8rem;
	color: #ffffff;
	position: absolute;
	bottom: 0;
}

a {
	color: #ffffff;
}

#left-banner {
	background: rgba(0, 0, 0, .3);
	position: relative;
	height: auto;
	width: 40vw;
	top: 52vh;
	opacity: 0.85;
	transition: 1s;
	justify-content: center;
	align-items: center;
}

#left-banner:hover {
	opacity: 1;
}

#right-side {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	background-color: rgb(25, 25, 25);
	padding: 1rem;
	width: 60vw;
	flex: 1;
}

#text-section {
	padding-top: 5em;
	padding-left: 1em;
	width: 90%;
}

#invitation-line {
	padding-top: 1em;
	padding-bottom: 2em;
}

form {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	background-color: rgb(35, 35, 35);
	color: #eceaf5;
	transition: 0.75s;
}

form:hover {
	background-color: #803ca7;
}

#form-header {
	padding: 1rem;
}

fieldset {
	padding: 0.5rem;
	flex-wrap: wrap;
	display: flex;
	width: max(40%, 45rem);
}

label {
	font-size: 0.8rem;
	padding-bottom: 0.2rem;
}

input {
	font-size: 1.2rem;
	background-color: rgb(20, 20, 20);
	border: 1px solid rgb(80, 80, 80);
	border-radius: 5px;
	color: #eceaf5;
	width: 20rem;
}

input:focus {
	outline: solid #994251;
}

.input-section {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

#account-button {
	font-family: inherit;
	color: #eceaf5;
	font-weight: 700;
	font-size: 1.2rem;
	border: none;
	border-radius: 10px;
	transition: 0.4s;

	margin-top: 3rem;
	margin-left: 1rem;
	background-color: #8e4ab6;
	padding: 1rem 3rem 1rem 3rem;
}

#account-button:hover {
	color: #8e4ab6;
	background-color: #eceaf5;
}

.log-in {
	margin-top: 3rem;
	margin-left: 1rem;
	text-decoration: none;
}

a.log-in {
	font-weight: 700;
	color: #b35ce6;
	transition: 0.15s;
}

a.log-in:hover {
	color: rgb(233, 203, 250);
}